.cases
    padding-top: 230px
    padding-bottom: 230px
    &__title
        margin-bottom: 48px
    &__img
        margin-bottom: 30px
    &__name
        font-size: 26px
        margin-bottom: 13px
    &__description
        width: 90%
.cases-slider
    &__item
.slider-dots
    list-style: none
    display: inline
