.choose
    padding-top: 100px
    padding-bottom: 175px
    &__title
        margin-bottom: 160px
    &__wrapper
        display: flex
        justify-content: space-between
    &__item
        margin-right: 20px
        display: flex
        flex-direction: column
        justify-content: space-between
        padding: 60px
        max-height: 850px
        border: 1px solid rgba(246, 246, 246, 1)
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
.item-img
    display: block
    margin: auto
    margin-bottom: 125px
.item-content
    &__name
        font-family: 'Museo Sans 900 Black'
        font-size: 36px
        margin-bottom: 45px
        text-align: center
    &__description
        margin-bottom: 75px
    &__btn
        background: #F5F5F5
